<body >
  <nav>
    <ul class="menu">
      <li><a [routerLink]="['/mycatalog']" (click)="showThis()"><i class="fas fa-book-reader"></i>הספרים שלנו</a></li>
      <li><a [routerLink]="['/myespecially_for_you']" (click)="showThis()"><i class="fas fa-user-shield"></i>במיוחד בשבילך</a></li>
      <li><a [routerLink]="['/mynewest']" (click)="showThis()" ><i class="fas fa-plus"></i>החדשים שלנו</a></li>
      <li><a [routerLink]="['/myquestions_returns']" (click)="showThis()"><i class="fas fa-exchange-alt"></i>השאלות והחזרות</a></li>
      <li><a [routerLink]="['/']" (click)="showModal(1)"><i class="fas fa-sign-in-alt"></i>
          הרשמה/התחברות</a></li>
    </ul>
  </nav>
  <div class= "content" (click)="showModal(0)" >
  <router-outlet></router-outlet>

</div>
  <div *ngIf="modalShow" class="modal">
    <div  class="login-wrap" >
      <div class="login-html">
        <!-- <span {/*onclick="document.getElementById('id01').style.display='none'*/}" -->
         <span (click)="showModal(0)"
        class="icon-x">&times;</span>
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">התחבר</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">הרשם</label>
        <div class="login-form">
          <div class="sign-in-htm">
            <div class="group">
              <label for="user" class="label">שם משתמש</label>
              <input id="user" type="text" name="name" class="input" placeholder="שם משתמש" [(ngModel)]="user.nameUser">
            </div>
            <div class="group">
              <label for="pass" class="label">סיסמא</label>
              <input id="pass" type="password"  class="input" data-type="password" placeholder="סיסמא" [(ngModel)]="user.idUser" >
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" checked>
              <label for="check"><span class="icon"></span> השאר אותי מחובר</label>
            </div>
            <div class="group">
              <input type="submit" class="button" value="התחבר" (click)="signIn()">
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a href="#forgot">שכחת את הסיסמא?</a>
            </div>
          </div>
          <div class="sign-up-htm">
            <div class="group">
              <label for="user" class="label">שם משתמש</label>
              <input id="user" type="text" class="input" placeholder="שם משתמש" [(ngModel)]="user.nameUser">
            </div>
            <div class="group">
              <label for="pass" class="label">סיסמא</label>
              <input id="pass" type="password" class="input" data-type="password" placeholder="סיסמא" [(ngModel)]="user.idUser">
            </div>
            <div class="group">
              <label for="pass" class="label">גיל</label>
              <input id="use" type="number" class="input" min="1" max="120" placeholder="גיל" [(ngModel)]="user.ageUser">
            </div>
            <div class="group">
              <form class="gander">
              <label for="pass" class="label">מגדר</label>
              <div class="form-check-inline">
                <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="זכר" checked [(ngModel)]="user.genderCode">
                זכר
                </label>
                <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="נקבה" [(ngModel)]="user.genderCode">נקבה
                </label>
              </div>
              </form>
            </div>
            <div class="group">
              <form class="atatus">
              <label for="pass" class="label">סטטוס</label>
              <div class="form-check-inline">
                <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="נשוי" checked [(ngModel)]="user.statusCode">
                נשוי
                </label>
                <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="רווק" [(ngModel)]="user.statusCode">רווק
                </label>
              </div>
              </form>
            </div>
            <div class="group">
              <input type="submit" class="button" value="הרשם" (click)="signUp()">
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <label for="tab-1">כבר חבר?</label>
            </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</body>
<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>