

<div>
  <div class="text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav text-right" >
        <div class="dropdown">
          <button ondblclick="document.getElementById('myDropdown').style.display='none'"onclick="document.getElementById('myDropdown').style.display='block'" class="dropbtn">שם מחבר </button>
          <div id="myDropdown" class="dropdown-content" style="display: none;">
            <input type="text" placeholder="חיפוש..." id="myInput" >
            <a href="#about">חיים ולדר</a>
            <a href="#base">יצחק פנגר</a>
          </div>
        </div>
        <form>
          <input type="text" name="search" placeholder="חפש ספר...">
         </form>
 
        <hr>
        <h3>סוג ספר</h3>
        <i  id="n" class="fas fa-plus" style="display: none;"></i>

        <div class="list">
          <div  *ngFor="let item of categories" class="list-item" [ngClass]="{selected:selectedcategory.id == item.id}">
          <label [data-value]="item.id"   (click)="selectitem(item.id)">{{item.name}}</label>
          </div>
        </div>
        
        <div class="list-item">
        <hr>
        <h3>קהל יעד</h3>
        <label class="list-item">ילדים</label>

        <label class="list-item">נוער</label>
      
        <label class="list-item">מבוגרים</label>
          
      
        </div>
        <hr>
      </div>
      <div class="col-sm-10 text-right">
        <h1 ><i class="fas fa-book-reader"></i> ספרים חדשים</h1>
       
        <div class="book" *ngFor="let item of listBooksNew">
          <img src="../../assets/images/old-library-book.jpg" alt="שם הספר">
          <div class="content" >
            <h1>{{item.NameBook}} </h1>
            <i class="fas fa-exchange-alt">{{item.IsBorrowed}}</i>
            
            <i class="fas fa-info-circle" data-toggle="modal" data-target="#myModal">מידע</i>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> שם הספר</h4>
      </div>
      <div class="modal-body text-right">
        <li><i class="fas fa-book">סוג הספר </i></li>
        <li><i class="fas fa-users">קהל יעד </i></li>
        <li><i class="fas fa-file-alt">מספר העמודים</i></li>
        <li><i class="far fa-edit">שם המחבר </i></li>
        <li><i class="fas fa-exchange-alt">פנוי</i></li>
        <li><i class="fas fa-user-edit">ביקורת</i></li>
      </div>
     
    </div>
  </div>
</div>



  