/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1000px}
     
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
  
}
.btn{
    margin: 2%;
}
.dropdown-menu li{
   width:109px ; 
}
ul{
   
    width:109px ; 
}

div.container{
    margin: 0px;
    width: 50%;
    height: 50%;

}
.row.content{
    height: 945px;
    width: 100%;
    display: revert;
}
.thumbnail{
    display: block;
    padding: 4px;
    margin-top: 31px;
    position: relative;
    right: 178px;
    margin-bottom: 20px;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;
    width: 71%;
}
div.row{
    display: table;
}

