<body>
  <div class="col-sm-9">
    
    
 
  <div class="container"> 
    <div class="row"> 
       
         <div class="thumbnail">
           <a href="/w3images/lights.jpg" target="_blank">
             <img src="../../assets/images/old-library-book.jpg" alt="Lights" style="width:70%">
             <div class="caption">
               <p class="pbook">שם הספר:<br>
                       המחבר:<br>
                       הספר מושאל?
               </p>
             </div>
           </a>
         </div>
      
       
         <div class="thumbnail">
           <a href="/w3images/nature.jpg" target="_blank">
             <img src="../../assets/images/old-library-book.jpg" alt="Nature" style="width:70%">
             <div class="caption">
               <p class="pbook">Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
             </div>
           </a>
         </div>
     
      
         <div class="thumbnail">
           <a href="/w3images/fjords.jpg" target="_blank">
             <img src="../../assets/images/old-library-book.jpg" alt="Fjords" style="width:70%">
             <div class="caption">
               <p class="pbook">Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
             </div>
           </a>
         </div>
      
      </div> 
    </div> 
  </div>

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <h4>סנן לפי פרמטר</h4>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="חפש ספר">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="חפש מחבר ספר">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
        <div class="dropdown">
          <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown">קטגורית ספר</button>
          <ul class="dropdown-menu">
            <li><a href="#">מתח</a></li>
            <li><a href="#">רגש</a></li>
            <li><a href="#">מתכונים</a></li>
            <li><a href="#">קודש</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown">קהל יעד</button>
          <ul class="dropdown-menu">
            <li><a href="#">גברים</a></li>
            <li><a href="#">נשים</a></li>
            <li><a href="#">ילדים</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown">סטטוס</button>
          <ul class="dropdown-menu">
            <li><a href="#">רווק/ה</a></li>
            <li><a href="#">נשוי/אה</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
 <!-- <footer class="container-fluid">
    <p>Footer Text</p>
  </footer> -->

</body>