<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" *ngIf="isRegistered">
  <h3>{{"שלום,"+" "+currentUser.NameUser}}</h3>
  <div class="card">
    <img src="../../assets/images/תמונה.jpg" alt="Avatar" style="width:100%">
    <div class="content">
      <h4><b>ספרים שאהבת</b></h4>
      <i onclick="document.getElementById('Love').style.display='block'" class="fas fa-angle-down"></i>
      <div id="Love" style="display: none;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>שם הספר</th>
              <th>השאלה</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of RaedingBooksList">
            <tr>
              <td>{{item.NameBook}}</td>
              <td><button (click)="borrow(item)" class="btns"><i class="fas fa-exchange-alt"></i></button></td>


            </tr>
          </tbody>
        </table>
        <i class="fas fa-angle-up" onclick="document.getElementById('Love').style.display='none'"></i>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/תמונה.jpg" alt="Avatar" style="width:100%">
    <div class="content">
      <h4><b>ספרים שאתה עשוי לאהוב</b></h4>
      <i onclick="document.getElementById('maybeLove').style.display='block'" class="fas fa-angle-down"></i>
      <div id="maybeLove" style="display: none;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>שם הספר</th>
              <th>הוספה לספרים שאהבתי</th>

            </tr>
          </thead>
          <tbody *ngFor="let item of listRaedingBooks">
            <tr>
              <td>{{item.NameBook}}</td>
              <td><button (click)="like(item.CodeBook)" class="btns"><i class="far fa-thumbs-up"></i></button></td>


            </tr>
          </tbody>
        </table>
        <i class="fas fa-angle-up" onclick="document.getElementById('maybeLove').style.display='none'"></i>
      </div>
    </div>
  </div>
</div>
<app-signinmessage *ngIf="isRegistered==false"></app-signinmessage>